*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-image: url(../multimedia/wallpaperMaquetacionFUllhd.png);
    background-size: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header{
    width: 100%;
    height: 100px;;
    display: flex;
    justify-content: space-between;
}
.header__img{
    width: 80px;
    height: 80px;
    margin-top: 10px;
    margin-left: 10px;
}
.header__menu ul{
    display: none;
    list-style: none;
    padding: 0;
    position: absolute;
    text-align: right;
    margin: 0 0 0 -14px;
    margin-right: 10px;
    font-size: 25px;
}
.header__menu:hover ul, ul:hover {
    display: block;
}
.header__menu{
    margin-right: 30px;
}
.header__menu li{
    margin: 30px 0;
}
.header__menu li a{
    color:black;
    text-decoration: none;
    color: white;
}
.header__menu li a:hover{
    text-decoration:underline;
    color: white;
}
.header__menu__profile{
    margin-right: 120px;
    width: 40px;
    display: flex;
    color: white;
}
.header__menu__profile img{
    width: 50px;
    margin-top: 20px;
}
.header__menu__profile p{
    margin: 30px 0 0 20px;
    font-size: 25px;
}
.main{
    height: 300px;
    text-align: center;
}
.main__title{
    color: white;
    font-size: 45px;
}
.input{
    background-color: rgba(255, 255, 255, 0.3);
    border: 2px solid white;
    border-radius: 25px;
    color: white;
    font-size: 25px;
    height: 50px;
    width: 50%;
    padding: 0 20px;
    outline: none;
}
::placeholder{
    color: white;
}
.categoris__title{
    color: white;
    font-size:30px;
    position: absolute;
    padding-left: 30px;
    width: 100%;
}
.carousel{
    width: 100%;
    overflow: scroll;
    padding: 30px;
    position: relative;
}
.carousel__container{
    white-space: nowrap;
    margin: 70px 0px;
    padding-bottom: 10px;
}
.carousel-item{
    width: 200px;
    height: 250px;
    border-radius: 20px;
    overflow: hidden;
    margin-right: 10px;
    display: inline-block;
    cursor: pointer;
    transition: 450ms;
    transform-origin: center left;
    position: relative;
    color: white;
}
.carousel-item:hover ~ .carousel-item{
    transform: translate3d(100px,0, 0);
}
.carousel__container:hover .carousel-item{
    opacity: 0.3;
}
.carousel__container:hover .carousel-item:hover{
    transform: scale(1.5);
    opacity: 1;
}
.carousel-item__img{
    width: 200px;
    height: 250px;
    object-fit: cover;
}
.carousel-item__details{
    background: linear-gradient(to top, rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%);
    font-size: 20px;
    opacity: 1;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.carousel-item__details--title{
    margin: 120px 0 0 0;
}
.footer{
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
}
.footer a{
    color: white;
    cursor: pointer;
    font-size: 14px;
    padding-left: 30px;
    text-decoration: none;
}
.footer a:hover{
    text-decoration: underline;
}
.footer__owner{    
    padding-left: 30px;
}
@media only screen and (max-width: 1024px){
    .main{
        height: 200px;
    }
    .input{
        width: 60%;
    }
}

@media only screen and (max-width: 768px){
    .main{
        height: 200px;
    }
    .main__title{
        color: white;
        font-size: 40px;
    }
    .input{
        background-color: rgba(255, 255, 255, 0.3);
        border: 2px solid white;
        border-radius: 25px;
        color: white;
        font-size: 15px;
        height: 50px;
        width: 80%;
        padding: 0 20px;
        outline: none;
    }
}
@media only screen and (max-width: 480px){
    body{
        background-image: url(../multimedia/wallpaperMaquetacion2.jpg);
    }   
    .header__menu{
        margin-right: 0px;
    }
    .header__menu__profile{
        margin-right: 120px;
        width: 40px;
        display: flex;
        color: white;
    }
    .header__menu__profile p{
        margin: 10px 0 0 50px;
        font-size: 15px;
    }
    .main{
        height: 150px;
    } 
    .main__title{
        color: white;
        font-size: 30px;
    }
    .input{
        background-color: rgba(255, 255, 255, 0.3);
        border: 2px solid white;
        border-radius: 25px;
        color: white;
        font-size: 15px;
        height: 50px;
        width: 80%;
        padding: 0 20px;
        outline: none;
    }
    .header__menu__profile p{
    margin: 30px 0 0 20px;
    font-size: 25px;
    }
    .categoris__title{
        font-size:25px;
        width: 70%;
        padding-left: 40px;
        padding-bottom: 50px;
        margin: 0;
    }
    .carousel{
    width: 100%;
    overflow: scroll;
    padding: 30px;
    position: relative;
}
    .carousel__container{
        white-space: none;
        margin: 10px;
        padding-bottom: 5px;
    }
    .carousel-item:hover ~ .carousel-item{
        transform: none;
    }
    .carousel__container:hover .carousel-item{
        opacity: 1;
    }
    .carousel__container:hover .carousel-item:hover{
        transform: none;
        opacity: 1;
    }
    .footer{
        display: contents;
    }
    .footer a{
        display: block;
        color: white;
        cursor: none;
        font-size: 12px;
        padding: 10px;
        text-decoration: none;
        text-align: center;
    }
}

@media only screen and (max-width: 320px){
    body{
        background-image: url(../multimedia/wallpaper-320-480.jpg);
    }   
    .header__menu{
        margin-right: 0px;
    }
    .header__menu__profile{
        margin-right: 120px;
        width: 40px;
        display: flex;
        color: white;
    }
    .header__menu__profile p{
        margin: 10px 0 0 50px;
        font-size: 15px;
    }
    .main{
        height: 150px;
    } 
    .main__title{
        color: white;
        font-size: 25px;
    }
    .input{
        background-color: rgba(255, 255, 255, 0.3);
        border: 2px solid white;
        border-radius: 25px;
        color: white;
        font-size: 15px;
        height: 50px;
        width: 85%;
        padding: 0 20px;
        outline: none;
    }
    .header__menu__profile p{
    margin: 30px 0 0 20px;
    font-size: 25px;
    }
    .categoris__title{
        font-size:20px;
        width: 70%;
        padding-left: 40px;
    }
    .carousel{
    width: 100%;
    overflow: scroll;
    padding: 30px;
    position: relative;
}
    .carousel__container{
        white-space: none;
        margin: 10px;
        padding-bottom: 5px;
    }
    .carousel-item:hover ~ .carousel-item{
        transform: none;
    }
    .carousel__container:hover .carousel-item{
        opacity: 1;
    }
    .carousel__container:hover .carousel-item:hover{
        transform: none;
        opacity: 1;
    }
    .footer{
        display: contents;
    }
    .footer a{
        display: block;
        color: white;
        cursor: none;
        font-size: 10px;
        padding: 10px;
        text-decoration: none;
        text-align: center;
    }
}